
.filter-form-container {
    margin-bottom: 20px;
}

#filter-btn {
    background-color: #000; /* Change background color to black */
    color: #fff; /* Change text color to white */
    padding: 10px 20px; /* Adjust padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size */
    position: absolute; /* Position the button absolutely */
    top: 0; /* Align to the top */
    right: 20px; /* Adjust distance from the right side */
    margin-top: 100px; /* Add margin from the top */
    z-index: 1; /* Ensure it's above other content */
}

.filter-popup {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    z-index: 1;
}

.show {
    display: block;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"] {
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* CSS for left-side navigation */
.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 250px;
   background-color: #343a40;
   padding-top: 50px; /* Adjusted for fixed header */
   color: #fff;
}
.sidebar a {
   padding: 10px;
   display: block;
   color: #fff;
   text-decoration: none;
}
.sidebar a:hover {
   background-color: #495057;
}

/* CSS for header */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #212832;
   padding: 0.5px 15px;
   color: #fff;
   z-index: 1000;
}




/* CSS for main content */
.main-content {
   margin-left: 250px;
   padding-top: 70px; /* Adjusted for fixed header */
}

/* CSS for modal overlay */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
   display: none; /* Hidden by default */
   justify-content: center;
   align-items: center;
}

/* CSS for modal content */
.modal-content {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
}

.graphical-representation {
   text-align: center; /* Center the images horizontally */
}
/* CSS for graphical representation */
.graphical-representation img {
   width: 200px; /* Adjust width as needed */
   margin: 100px; /* Adjust margin as needed */
}
.button {
   display: inline-block;
   padding: 10px 20px;
   background-color: #007bff; /* Button background color */
   color: #fff; /* Button text color */
   text-decoration: none;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px; /* Adjust font size as needed */
   transition: background-color 0.3s; /* Smooth transition on hover */
   margin-top: 20px; /* Add margin to separate from the graphical representation */
}

.button:hover {
   background-color: #0056b3; /* Button background color on hover */
}
footer {
   position: fixed; /* Position the footer relative to the viewport */
   bottom: 0;
   width: 100%;
   background-color: #212832;
   color: #fff;
   padding: 10px 0;
   text-align: center;
   z-index: 999; /* Ensure the footer stays behind the button */
}
