{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WealthPlus - Income</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/income.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">

</head>
{% if user.is_authenticated %}
  <body>
    <div class="sidebar">
        <a href="#">Dashboard</a>
        <a href="{% url 'home' %}" class="active">Home</a> 
        <a href="{% url 'income' %}" class="active">Income</a> 
        <a href="{% url 'expense' %}" class="active">Expense</a>
        <a href="{% url 'report' %}" class="active">Reports</a>
        <a href="{% url "logout" %}">logout</a>

    </div>
    <header style="display: flex;flex-direction: row;justify-content: space-around;">

        <div><h1>WealthPlus </h1></div>
        <div><h1> Welcome, {{ user.username }} </h1></div>

       
    </header>
    <div class="main-content">
        <!-- Main Content -->
        <h2>Income Source Details :-   </h2>
        {% if incomes %}
    <table border="1" cellpadding="10" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Category</th> 
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td>{{ income.source }}</td>
                    <td>{{ income.amount }}</td>
                    <td>{{ income.date }}</td>
                    <td>{{ income.category }}</td>
                    <td>
                        <button class="edit"onclick="showEditIncomeForm('{{ income.source }}', '{{ income.amount }}', '{{ income.date|date:"Y-m-d" }}', '{{ income.category }}', '{{ income.id }}')">Edit</button>
                        <button class="delete"><a href="{% url "deleteincome" %}?incomeid={{income.id}}">Delete</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No incomes available.</p>
    {% endif %}
<br>
        <button class="addincome" onclick="showAddIncomeForm()">Add Income</button> <!-- Add Income button -->
    </div>
    <footer>
        <p>&copy; 2024 WealthPlus. All rights reserved.</p>
    </footer>

    <!-- Modal overlay -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal-content">
            <h2 id="formTitle">Add Income</h2>
            <form id="addIncomeForm" method='post' action=''>
                {% csrf_token %}  <!--(Cross-Site Request Forgery)--> 
                
                <input type="text" name="formtype" id="formType" hidden>
                <!-- Add income form fields here -->
                <input type="number" name="incomeid" id="incomeid" hidden>
                <label for="source">Source:</label>
                <input type="text" id="source" name="source" required><br><br>
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required oninput="validity.valid||(value='');"><br><br>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required><br><br>
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="Housing">Housing</option>
                     <option value="Salary">Salary</option>
                     <option value="Farming">Farming</option>
                     <option value="Teaching">Teaching</option>
                     <option value="Property">Property</option>
                     <option value="Stocks">Stocks</option>
                     <option value="Business">Business</option>

                     <option value="Other">Other</option>
                    <!-- Add more category options as needed -->
                </select><br><br>
                <button type="submit">Submit</button>
                <button type="button" onclick="hideAddIncomeForm()">Cancel</button>
            </form>
        </div>
    </div>

    <script>
        function showAddIncomeForm() {
            document.getElementById('modalOverlay').style.display = 'flex';

            document.getElementById('formTitle').innerText = 'Add Income';

            document.getElementById('source').value = '';
            document.getElementById('amount').value = '';
            document.getElementById('date').value = '';
            document.getElementById('category').value = '';

            document.getElementById('submitButton').innerText = 'Submit';
        }

        function showEditIncomeForm(source, amount, date, category,incomeId) {

            document.getElementById('modalOverlay').style.display = 'flex';
           
            document.getElementById('formTitle').innerText = 'Edit Income';

            document.getElementById('source').value = source;
            document.getElementById('amount').value = amount;
            document.getElementById('date').value = date;
            document.getElementById('category').value = category;
            document.getElementById("formType").value="update";
            document.getElementById("incomeid").value=incomeId;
       
            document.getElementById('submitButton').innerText = 'Update';
        }
        function hideAddIncomeForm() {
            document.getElementById('modalOverlay').style.display = 'none';
        }

        
    </script>
</body>
{% else %}
    <!-- Message prompting the user to sign up -->
    {% url 'login' as login_url %}
    <script>
        window.location.href = "{{ login_url }}";
    </script>
{% endif %}

</html>
