{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}">
    
</head>
<body>
    <div class="form-container">
        <h2>User Login</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
            <a href="http://127.0.0.1:8000/admin" class="admin-access-button">Admin Login</a>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
    </div>
</body>
</html>