{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

</head>
<body>
    <div class="form-container">
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
        <div class="login-link">
            <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </div>
</body>
</html>
